
h1{
    margin: 0px;
}
.parent-box{
     padding: 20px;
     border: 2px black groove;
     display: flex;
     flex-direction: column;
     gap: 40px;
}
.header-box{
     background-color: hotpink;
     padding: 20px;
     border: 2px hotpink groove;
     display: flex;
     justify-content: space-between;
     width: 92%;
     margin-left: 70px;
     
}
.header-box h2{
    margin: 0px;
}
.footer-box{
     background-color: aquamarine;
     padding: 20px;
     border: 2px aquamarine groove;
     width: 92%;
     margin-left: 70px;

     
}
.sidenav-box{
     background-color: royalblue;
     border: 2px royalblue groove;
     position: fixed;
     z-index: 100;
     top: 0;
     left: 0;
     bottom: 0;
     padding: 48px 0 0;
     height: 57.6%;
     margin-top: 166.8px;
    
}